<div class="row">
    <div class="col">
        <mat-toolbar color="primary">
            <span class="font-size-18 text-primary-dark">KorpCO</span>
            <div class="spacer"></div>           
            <button mat-button routerLink="">Home</button>
            <div class="spacer-generic"></div>
            <button mat-button routerLink="/users">Users</button>
            <div class="spacer-generic"></div>
            <button mat-button routerLink="/products">Products</button>
        </mat-toolbar>
    </div>
</div>
