<app-header></app-header>
    <router-outlet>
        <div class="container">
            <div style="overflow-x:auto;" class="main-div">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Birth Date</th>
                        <th>Cellphone Number</th>
                    </tr>
                    <tr>
                        <td> <input type="text" [(ngModel)]="user.id_users" /></td>
                        <td> <input type="text" [(ngModel)]="user.name_users" /></td>
                        <td> <input type="text" data-mask="00/00/0000" [(ngModel)]="user.dt_birth_users" /></td>
                        <td> <input type="text"data-mask="(00) 00000-0000"  [(ngModel)]="user.cellphone_number_users" /></td>   
                    </tr>
                </table>
                <ng-template #non>
                    <p>None user found.</p>
                </ng-template>  
            </div>
            <button class="btn" (click)="createUser()" mat-raised-button color="primary">Create User <mat-icon>add</mat-icon></button>
            <button class="btn2" routerLink="/users" mat-raised-button>Back to list <mat-icon>undo</mat-icon></button>


        </div>
    </router-outlet>
<app-footer></app-footer>